
<style>
     .fig {
          text-align: -webkit-left;}

     .text {
          text-align: -webkit-right;
          color: #140770
     }

</style>
<div th:fragment="footer"
     style="position: fixed; top: 90%; width: 100%; background-color: #acffa5;"
     xmlns:th="http://www.w3.org/1999/xhtml" >
     <p class="text">
          made by V.Shevchuk <br>+38(099)907-49-18<br>Zaporizhya, 69061
     </p>
</div>
<p class="fig">
     <img src="images/light2.jpg"
          width="100" height="100" alt="Auto light"></p>
