<!DOCTYPE html>
<html lang="en">
<style>
    .fig {
        text-align: -webkit-left;}

    .text {
        text-align: -webkit-left;
        color: #000000
    }

</style>
<head>
    <meta charset="UTF-8">
    <title>D1S</title>
</head>
<body>
<a href="/"><< Home</a>
<!--<a href="/d1s">D1S</a>-->
<!--<a href="/d2s">D2S</a>-->
<!--<a href="/d3s">D3S</a>-->
<!--<a href="/h1">H1</a>-->
<!--<a href="/h4">H4</a>-->
<!--<a href="/h7">H7</a>-->
<div>
    <h1>Ксеноновая лампа Philips D1S 4300K, 5000K</h1>
    <p class="fig"><img src="images/d1s.jpg"
         width="500" height="500" alt="D1S">
        <form>
    <p><button>
        <img src="images/price.png"
             width="50" height="50"
             alt="" style="vertical-align:middle">
        25$</button>
        <button>
            <img src="images/order.jpg"
                 width="50" height="50"
                 alt="" style="vertical-align:middle">
            <tr><td><input name="submit"
                           type="submit"
                           value="Add to order/Buy" /></td></tr>

        </button>
    <button>
        <img src="images/callbutton1.png"
             width="50" height="50"
             alt="" style="vertical-align:middle">
        +38(099)907-49-18
    </button></p>
    </form>
    <p class="text"><h3>Ксеноновая лампа Philips D1S.</h3><br>...<br>
При покупке 2-х ламп скидка 10%.
<br>
Цветовая температура: 4300K, 5000К (на выбор)<br>
Световой поток: 3200Лм<br>
Напряжение: 12В<br>
Гарантия 1 год!<br>...<br>

В наличии лампы на все цоколя заводского ксенона (D1S, D2S, D2R, D3S, D4S).<br>Доставка во все города Украины.</p>

    </p>

</div>
</body>
</html>