<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>H1</title>
</head>
<body>
<a href="/"><< Home</a>
<!--<a href="/d1s">D1S</a>-->
<!--<a href="/d2s">D2S</a>-->
<!--<a href="/d3s">D3S</a>-->
<!--<a href="/h1">H1</a>-->
<!--<a href="/h4">H4</a>-->
<!--<a href="/h7">H7</a>-->
<div>
    <h1>Светодиодные автолампы H1 6000K 6500Lm ZES CARLAMP Day Light GEN2 (DLGH1)</h1>
    <p class="fig"><img src="images/h1.png"
                        width="600" height="600" alt="D1S">
        <form>
    <p><button>
        <img src="images/price.png"
             width="50" height="50"
             alt="" style="vertical-align:middle">
        54$</button>
    <button>
        <img src="images/order.jpg"
             width="50" height="50"
             alt="" style="vertical-align:middle">
        <tr><td><input name="submit"
                       type="submit"
                       value="Add to order/Buy" /></td></tr>

    </button>
    <button>
        <img src="images/callbutton1.png"
             width="50" height="50"
             alt="" style="vertical-align:middle">
        +38(099)907-49-18
    </button></p>
    </form>
    <p class="text"> <h3>Светодиодные автолампы H1 6000K 6500Lm ZES CARLAMP Day Light GEN2 (DLGH1)</h3> <br>...<br>

        На рынке любого направления всегда есть такой товар, который не нуждается в дополнительной рекламе. О его качествах итак хорошо известно и опытным пользователям, и новичкам. В сфере автосвета к такому типу продукции относятся автолампы торговой марки Carlamp. Каждый товар данного бренда достойно держит планку превосходного качества. Более того, все новые линейки становятся только совершеннее. Ярким примером такого апгрейда является серия Day Light Gen2, выпускаемая брендом Carlamp во всех популярных цоколях, включая H1 (головное освещение). <br>

        Аргументы в пользу покупки лампочек Day Light GEN2 с цоколем H1 от торгового бренда Carlamp <br>
    <br>...<br>
        Классическая серия Day Light от Карламп стала хитом благодаря своим рабочим характеристикам и адекватно выставленной цене. Улучшенный же вариант полностью оправдал ожидания касаемо реализации невозможного. Так, в числе ключевых преимуществ линейки Day Light Gen2 значатся: <br>

        1. новый тип чипа ZES Phillips 2nd Generation вырабатывает мощный луч света при меньших габаритах и делает это лучше, чем предыдущий вариант; <br>
        2. уменьшены габариты не только диода, но и всех составляющих элемента освещения, значит установка пройдет еще проще, вне зависимости от размера фары; <br>
        3. дизайн продуман согласно новых пропорций лампочки – луч света направляется четко на дорожное полотно, не рассеиваясь;<br>
        4. яркость лампочки выражается в светосиле и в данном случае равна 6500 лм – великолепный показатель, позволяющий максимально четко осветить каждый встречный объект на пути авто; <br>
        5. выброс луча в каждом из режимов значительно превышает показатели штатного освещения; <br>
        6. уровень цветотемпературы достиг отметки в 6500 К и указывает на холодный спектр оттенков, что говорит о бело-голубом цвете вырабатываемого луча; <br>
        7. лампочка оснащена ленточной системой охлаждения, которая эффективно отводит тепло от элемента и при этом не требует много места; <br>
        8. для обеспечения первоклассного освещения данной лампе достаточно минимального количества энергии; <br>
        9. лампочка защищена от воздействия влаги и пыли (класс защиты IP65K); <br>

        Срок активного эксплуатационного периода такой автолампы равен 30000 часов.<br>
    <br>...<br>
        Характеристики: <br>

        Цоколь: H1 <br>
        Мощность: 45 Вт<br>
        Вольтаж: 9-32 В<br>
        Световой поток: 6500 лм<br>
        Световая температура: 6000 К<br>
        Диод: Philips ZES Chip Gen2<br>
        Срок службы: 30000 часов<br>
        Гарантия 12 месяцев</p>

    </p>

</div>
</body>
</html>