<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>H4</title>
</head>
<body>
<a href="/"><< Home</a>
<!--<a href="/d1s">D1S</a>-->
<!--<a href="/d2s">D2S</a>-->
<!--<a href="/d3s">D3S</a>-->
<!--<a href="/h1">H1</a>-->
<!--<a href="/h4">H4</a>-->
<!--<a href="/h7">H7</a>-->
<div>
    <h1>Светодиодные лампы OSRAM H4 14W 12V P43t 6000К 2 шт LEDriving HL Gen2 (9726CW)</h1>
    <p class="fig"><img src="images/h4.png"
                        width="600" height="600" alt="D1S">
        <form>
    <p><button>
        <img src="images/price.png"
             width="50" height="50"
             alt="" style="vertical-align:middle">
        118$</button>
    <button>
        <img src="images/order.jpg"
             width="50" height="50"
             alt="" style="vertical-align:middle">
        <tr><td><input name="submit"
                       type="submit"
                       value="Add to order/Buy" /></td></tr>

    </button>
    <button>
        <img src="images/callbutton1.png"
             width="50" height="50"
             alt="" style="vertical-align:middle">
        +38(099)907-49-18
    </button></p>
    </form>
    <p class="text"> <h3>Светодиодные лампы OSRAM H4 14W 12V P43t 6000К 2 шт LEDriving HL Gen2 (9726CW).</h3><br>...<br>

        Новейшие светодиодные лампы Osram 9726CW линейки LEDriving HL Gen2 (второе поколение) предоставляют возможность легкой и удобной замены старых и неэффективных галогенных ламп на новый, яркий и технологичный источник света. Данные лампы подходят для замены ламп с ближним и дальним светом в одном корпусе. Благодаря оптимальной конструкции ламп с минимальными габаритными размерами (длина - 203 мм, а диаметр - 18 мм), их с легкостью можно разместить в фаре. <br><br>

        Новые светодиодные лампы порадуют превосходной яркостью и светотеневой границей, а яркий белый свет цветовой температуры 6000 К поможет более контрастно выделить объекты на дороге. Световой поток светодиодных ламп Osram линейки LEDriving HL Gen2 превосходит аналогичный показатель галогенных ламп в несколько раз и вплотную приближается к эффективности ксеноновых ламп.<br><br>

        Новейшие светодиодные лампы Osram 9726CW линейки LEDriving HL Gen2 (второе поколение) предоставляют возможность легкой и удобной замены старых и неэффективных галогенных ламп на новый, яркий и технологичный источник света. Данные лампы подходят для замены ламп с ближним и дальним светом в одном корпусе. Благодаря оптимальной конструкции ламп с минимальными габаритными размерами (длина - 203 мм, а диаметр - 18 мм), их с легкостью можно разместить в фаре.<br><br>

        Новые светодиодные лампы порадуют превосходной яркостью и светотеневой границей, а яркий белый свет цветовой температуры 6000 К поможет более контрастно выделить объекты на дороге. Световой поток светодиодных ламп Osram линейки LEDriving HL Gen2 превосходит аналогичный показатель галогенных ламп в несколько раз и вплотную приближается к эффективности ксеноновых ламп.<br><br>

        Высокая надежность и длительный срок службы ламп серии LEDriving HL Gen2 обеспечивают тщательно спроектированный радиатор. Он с максимальной эффективностью отводит тепло от светодиодного чипа, что обеспечивает качественное охлаждение лампы для её стабильной работы.<br><br>

        В отличии от ксенона, установка светодиодной лампы выполняется без специальных инструментов или дополнительных высоковольтных компонентов. Также не требуется доработка или разборка штатной фары. LED лампы Osram устанавливаются в стандартный цоколь и далее напрямую к источнику питания автомобиля со стандартным напряжением 12 или 24 Вольт.<br><br>
</p>
    </p>

</div>
</body>
</html>