<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>H7</title>
</head>
<body>
<a href="/"><< Home</a>
<!--<a href="/d1s">D1S</a>-->
<!--<a href="/d2s">D2S</a>-->
<!--<a href="/d3s">D3S</a>-->
<!--<a href="/h1">H1</a>-->
<!--<a href="/h4">H4</a>-->
<!--<a href="/h7">H7</a>-->
<div>
    <h1>Светодиодные автолампы CARLAMP Night Vision H7 (NVH7)</h1>
    <p class="fig"><img src="images/h7.png"
                        width="600" height="600" alt="D1S">
        <form>
    <p><button>
        <img src="images/price.png"
             width="50" height="50"
             alt="" style="vertical-align:middle">
        29$</button>
    <button>
        <img src="images/order.jpg"
             width="50" height="50"
             alt="" style="vertical-align:middle">
        <tr><td><input name="submit"
                       type="submit"
                       value="Add to order/Buy" /></td></tr>

    </button>
    <button>
        <img src="images/callbutton1.png"
             width="50" height="50"
             alt="" style="vertical-align:middle">
        +38(099)907-49-18
    </button></p>
    </form>
    <p class="text"><h3>Светодиодные автолампы CARLAMP Night Vision H7 (NVH7)</h3><br>...<br>
        Серия автомобильных ламп LED Night Vision от компании Carlamp выпускается в цоколе H7, предвосхищая потребности покупателей. Ведь, когда ЛЕД лампа выполнена из высококлассных материалов, долговечна и доступна по цене, спрос на нее будет от владельцев всех марок и моделей авто.<br><br>
        Благодаря автолампам Carlamp LED Night Vision в цоколе H7, у водителей меняется представление о ночном вождении и автосвете в принципе. Помимо того, что лампочки по-настоящему миниатюрны и просты в монтаже, они продуцируют пучок света интенсивностью в 4000Лм и цветотемпературой в 5000К (нейтрально-холодный спектр цветов)! Как итог, фарам удается создать освещение, предельно приближенное к дневному свету. А это не только способствует четкому освещению объектов на дороге, но и снижает уровень напряжения, оказываемое на глаза водителя.<br><br>
        Кроме того, пучок света, выбрасываемый лампой, не подвержен рассеиванию, а также не создает эффекта мерцания и бликов. Говоря иначе, отсутствует ослепление водителей встречного транспорта.<br><br>
        Период бесперебойной эксплуатации данных автоламп составляет не менее 30 000часов. Это стало возможным за счет высочайшего качества материалов и сборки, защиты от проникновения внутрь конструкции частиц пыли и влаги (IP67K). Также огромную роль играет система охлаждения: радиаторная решетка, отводящая нагревшийся воздух от лампочки, тем самым охлаждая ее и предотвращая поломку.<br>...<br>


        Особенности:<br>

        * Тип чипа: Seoul CSP Cree Chip;<br>
        * Принцип работы охлаждающей системы: радиаторный;<br>
        * Срок гарантии 1 год;<br>
        * Класс защиты: IP67K.</p>

    </p>

</div>
</body>
</html>